form {
  border: 2px solid green;
  background: white;
  margin: 0px 32px;
  padding: 32px 32px;
  border-radius: 5%;
}

h3 {
  text-align: left;
  text-decoration: underline;
}

section p {
  text-align: left;
}

img {
  width: 360px;
  height: 480px;
  margin: 32px;
}

#form_container {
  flex: 1;
  min-width: 600px;
  max-width: 50%;
}

#contact_info {
  text-align: left;
}

#contact_info div {
  display: grid;
  gap: 16px 32px;
  grid-template-areas:
    "name phone"
    "address address";
}

#contact_info label {
  display: block;
  text-align: left;
}

#contact_info input {
  display: block;
  width: 100%;
}

#name_group {
  grid-area: name;
}

#phone_group {
  grid-area: phone;
}

#address_group {
  grid-area: address;
}

#budget_selector {
  text-align: left;
}

#budget_selector div {
  text-align: center;
}

#budget_selector input {
  width: 100%;
}

#budget_display {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

#budget_selector p::before {
  content: "$";
}

#area_selector div {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#type_selector div {
  display: grid;
  grid-template-columns: auto auto auto;
}

#page_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

input[type="submit"] {
  width: 50%;
  margin-top: 32px;
  background: rgb(74, 167, 255);
  border: none;
  border-radius: 5%;
  color: white;
  font-size: large;
  padding: 16px;
}

input[type="submit"]:focus {
  background: rgb(21, 89, 153);
}
