
img {
    width: 480px;
    height: 480px;
    border-radius: 30%;
}


section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


article {
    width: 480px;
    height: 480px;
    border: 2px solid green;
    border-radius: 30%;
    background: white;
    margin: 64px 32px;
}


h1 {
    font-size: xx-large;
    margin-top: 64px;
}

